@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap'); 
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
body { 
    font-family: 'Lato', sans-serif; 

} 

.container { 
    max-width: 800px; 
    margin: auto; 
    padding: 1rem; 
}

.movie-card {
    border: 1px;
    border-radius: 200px;
    padding: 1rem;
    text-align: center;
}

.movie-poster-container img {
    max-width: 50%;
    border-radius: 25px;
}

.movie-title { 
    font-size: 2rem; 
    color: black; 
} 

.movie-genres { 
    font-size: 1rem; 
    color: black; 
} 

.movie-info-container { 
    margin-top: 2rem; 
} 

.movie-info-quote { 
    font-style: italic; 
    color: black; 
} 

.movie-info-overview-title { 
    font-size: 1.5rem; 
    color: black; 
    margin-top: 1rem; 
    text-transform: capitalize;
} 

.movie-info-overview { 
    font-size: 1rem; 
    color: black; 
    margin-top: 0.5rem; 
    padding: 1rem;
} 

.movie-info-actions ul { 
    list-style-type: none; 
    padding: 0.5rem; 
} 

.movie-info-actions li { 
    display: inline; 
    margin: 0.5rem; 
} 

.movie-info-actions a { 
    color: black; 
    font-size: 1rem; 
    transition: color 0.3s; 
} 

.movie-info-actions a:hover { 
    color: rgb(50, 50, 55); 
} 

footer { 
    text-align: center; 
    margin-top: 2rem; 
    color: black; 
} 

footer h3 { 
    margin-bottom: 1rem; 
} 

footer ul { 
    list-style-type: none; 
    padding: 1rem; 
} 
footer li { 
    display: inline; 
    margin: 1rem; 
} 
footer a { 
    color: rgb(14, 14, 15); 
    text-decoration: none; 
    font-size: 1.2rem; 
} 

footer a:hover { 
    text-decoration: underline; 
}
